
<p>
  <strong>本文:</strong>
  <%= @picture.word %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag(@picture.image.url) %>
</p>

<%= link_to "編集", edit_picture_path(@picture) %>
<%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除しますか？' },class: "btn btn-danger"%>
